/* css/style.css */

body {
  background-color: #f7f7f7;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Bubblegum Sans', cursive; /* Use a bubble letters font */
  font-weight: 700; /* Make the text bold */
  margin-left: 120px; /* Add margin to prevent overlap with logo */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add shadow effect */
  background: linear-gradient(90deg, rgba(255,0,150,1) 0%, rgba(0,204,255,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgba(255,0,150,0.7), 0 0 20px rgba(255,0,150,0.7), 0 0 30px rgba(255,0,150,0.7), 0 0 40px rgba(255,0,150,0.7), 0 0 50px rgba(255,0,150,0.7), 0 0 60px rgba(255,0,150,0.7), 0 0 70px rgba(255,0,150,0.7);
  }
  to {
    text-shadow: 0 0 20px rgba(255,0,150,1), 0 0 30px rgba(255,0,150,1), 0 0 40px rgba(255,0,150,1), 0 0 50px rgba(255,0,150,1), 0 0 60px rgba(255,0,150,1), 0 0 70px rgba(255,0,150,1), 0 0 80px rgba(255,0,150,1);
  }
}

table {
  margin-top: 20px;
}

header .logo {
  width: 100px; /* Adjust the width as needed */
  height: auto;
  position: absolute;
  top: 20px; /* Adjust the top position as needed */
  left: 20px; /* Adjust the left position as needed */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  h1 {
    margin-left: 0; /* Remove left margin on mobile */
    text-align: center; /* Center-align the text on mobile */
  }
  header .logo {
    left: auto; /* Remove left positioning on mobile */
    right: 20px; /* Position the logo to the right on mobile */
  }
}
